:root {
    /* Accent Ocre Jaune */
    --accent: #ffb300;
    --accent-hover: #b8860b;

    --aux: #ff6f59;
    
    /* Light Mode */
    --bg-color: #f0f2f5;
    --text-color: #614401;
    --glass-bg: #fff5e2b3;
    --glass-border: #fff5e24d;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --glass-bg: #1c1400b3;
    --glass-border: #ffffff1a;
}